    @model Projeto2025.DTOs.EventoDTO
    @{
        ViewData["Title"] = "Index";
    }

    <h1>Cadastro Evento</h1>

    <div class="col-3">
        <a asp-action="Listar" asp-controller="Evento"
           class="btn btn-info">
            Listar
        </a>
    </div>

    <form asp-action="Salvar" asp-controller="Evento" method="post">
        <input type="hidden" asp-for="id" />

    <div class="form-group">
        <label asp-for="Descricao"></label>
        <input type="text" asp-for="Descricao" class="form-control" />
        <span class="alert-danger" asp-validation-for="Descricao"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="idTipoEvento"></label>
        <select asp-for="idTipoEvento" class="form-control" asp-items="@(new SelectList(ViewBag.TiposEvento, "Value", "Text"))">
            <option value="">Selecione</option>
        </select>

        <span class="alert-danger" asp-validation-for="idTipoEvento"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataEvento"></label>
        <input type="datetime-local" asp-for="DataEvento" class="form-control" />
        <span class="alert-danger" asp-validation-for="DataEvento"></span>
    </div>

    <div class="form-group">
        <label asp-for="QuantidadePessoas"></label>
        <input type="text" asp-for="QuantidadePessoas" class="form-control" />
        <span class="alert-danger" asp-validation-for="QuantidadePessoas"></span>
    </div>

    <div class="form-group">
        <label asp-for="Local"></label>
        <input type="text" asp-for="Local" class="form-control" />
        <span class="alert-danger" asp-validation-for="Local"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <input type="text" asp-for="Status" class="form-control" />
        <span class="alert-danger" asp-validation-for="Status"></span>
    </div>

    <div class="form-group">
        <label asp-for="Observacoes"></label>
        <input type="text" asp-for="Observacoes" class="form-control" />
        <span class="alert-danger" asp-validation-for="Observacoes"></span>
    </div>

    <div class="form-group">
        <label asp-for="ValorTotal"></label>
        <input type="text" asp-for="ValorTotal" class="form-control" />
        <span class="alert-danger" asp-validation-for="ValorTotal"></span>
    </div>

    <div class="form-group">
        <label asp-for="idCliente"></label>
        <select asp-for="idCliente" class="form-control" asp-items="@(IEnumerable<SelectListItem>)ViewBag.Clientes">
            <option value="">Selecione o Cliente / Dono da Festa</option>
        </select>
        <span class="alert-danger" asp-validation-for="idCliente"></span>
    </div>

    <div class="form-group">
        <label asp-for="idFormaPagamento"></label>
        <select asp-for="idFormaPagamento" class="form-control" asp-items="@(IEnumerable<SelectListItem>)ViewBag.formasPagamento">
            <option value="">Selecione a Forma de Pagamento</option>
        </select>
        <span class="alert-danger" asp-validation-for="idFormaPagamento"></span>
    </div>
        <div>
            <span class="@ViewBag.classe">@ViewBag.mensagem</span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">
                Salvar
            </button>

        <a asp-action="Index" asp-controller="Evento" class="btn btn-primary">
            Novo
        </a>
        </div>

    </form>
