@model IEnumerable<Projeto2025.DTOs.ClienteDTO>

@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<div>
    <span class="@ViewBag.classe">@ViewBag.mensagem</span>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.NomeCompleto</td>
                <td><a class="btn btn-success">Alterar</a></td>
                <td>                    
                    <form asp-action="Excluir" asp-controller="Cliente"
                    asp-route-id="@item.id" method="get">

                        <button type="submit" class="btn btn-danger"
                        onclick="return confirm('Tem certeza que deseja excluir esse registro')">
                        Excluir
                    </button>
                    </form>    
                </td>
            </tr>
        }
    </tbody>
</table>

