@model IEnumerable<Projeto2025.DTOs.FormaPagamentoDTO>
@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<div class="page-background">
    <div class="col-3 mt-3">
        <a asp-action="Index" asp-controller="FormaPagamento" class="btn btn-success">
            Novo
        </a>
    </div>
    <div class="col-3 mt-3">
        <span class="@ViewBag.classe">@ViewBag.mensagem</span>
    </div>
    <div class="mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Alterar</th>
                    <th scope="col">Excluir</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.id</th>
                        <td>@item.Descricao</td>
                        <td>
                            <a asp-action="PreAlterar"
                               asp-controller="FormaPagamento"
                               asp-route-id="@item.id"
                               class="btn btn-success">Alterar</a>
                        </td>
                        <td>
                            <form asp-action="Excluir" asp-controller="FormaPagamento"
                                  asp-route-id="@item.id" method="get">

                                <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Confirma a exclusão?') ">
                                    Excluir
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
